{% load static custom_filters %}

<form method="post" action="{% url 'order_form' %}" class="order-form">
  {% for error in form.non_field_errors %}
    <div class="order-form__error">{{ error }}</div>
  {% endfor %}
  {% for field in form %}
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="order-form__error">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {{ form.property_id }}
  {{ form.lines }}
  {% csrf_token %}
  <section class="order-form__section order-form__section-certificates">
    <h2>2. Select certificates</h2>
    <div class="form-item form-item--list">
      <ul>
        {% for parent_certificate, child_certificates in grouped_certificates.items %}
          <li>
            {% with is_child=False counter=forloop.counter %}
              {% include "components/certificate_item.html" with certificate=parent_certificate %}
            {% endwith %}
            {% if child_certificates %}
              <ul class="cert-li__children">
                {% for child in child_certificates %}
                  <li>
                    {% with is_child=True counter=forloop.parentloop.counter|add:forloop.counter %}
                      {% include "components/certificate_item.html" with certificate=child %}
                    {% endwith %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="form-item form-item--submit">
      <button type="submit" class="button-next">
        Next
      </button>
    </div>
  </section>
  <section class="order-form__section order-form__section-customer">
    <h2>3. Your Details</h2>
    <div class="form-item">
      <label for="{{ form.customer_name.id_for_label }}">
        {{ form.customer_name.label }}
      </label>
      {{ form.customer_name }}
    </div>
    <div class="form-item">
      <label for="{{ form.customer_company_name.id_for_label }}">
        {{ form.customer_company_name.label }}
      </label>
      {{ form.customer_company_name }}
    </div>
    <div class="form-item form-item--submit">
      <button type="submit" class="button-next">
        Next
      </button>
    </div>
  </section>
  <section class="order-form__section order-form__section-finalise">
    <h2>4. Finalise</h2>
    <div class="order-form__totals"></div>
  </section>
  <section class="order-form__section order-form__section-submit">
    <div class="form-item form-item--submit">
      <button type="submit" class="button-next">
        Submit
      </button>
    </div>
  </section>
</form>

