{% load static %}

<div class="find-parcel">
  <section class="find-parcel__search">
    <h2>1. Find a parcel</h2>
    <form>
      {% csrf_token %}
      <div class="find-parcel__section--specific">
        <div class="form-item">
          <label for="{{ form.lot.id_for_label }}">Lot</label>
          {{ form.lot }}
        </div>
        <div class="form-item">
          <label for="{{ form.section.id_for_label }}">Section</label>
          {{ form.section }}
        </div>
        <div class="form-item">
          <label for="{{ form.deposited_plan.id_for_label }}">Deposited Plan</label>
          {{ form.deposited_plan }}
        </div>
      </div>
      <div class="form-item form-item--or">
        <div>OR</div>
      </div>
      <div class="find-parcel__section--address">
        <div class="form-item">
          <label for="{{ form.street_address.id_for_label }}">Street Address</label>
          {{ form.street_address }}
        </div>
      </div>
      <div class="form-item form-item--submit">
        <button type="submit" class="button-next">
          Find
        </button>
      </div>
      <div class="find-parcel__search-error"></div>
    </form>
  </section>

  <section class="find-parcel__assessment" style="display:none;">
    <h3>Matching Assessments</h3>
    <form>
      <div class="form-item form-item--list find-parcel__assessment-list"></div>
      <div class="form-item form-item--submit">
        <button type="submit" class="button-next">
          Next
        </button>
      </div>
    </form>
  </section>

  <section class="find-parcel__property" style="display:none;">
    <h3>Matching Lot, Section, Deposited Plans</h3>
    <form>
      <div class="form-item form-item--list find-parcel__property-list"></div>
      <div class="form-item form-item--submit">
        <button type="submit" class="button-next">
          Next
        </button>
      </div>
    </form>
  </section>
</div>
