{% load static %}

<section id="your-details">
  <h2>3. Your Details</h2>
  <div id="display-details" style="display: none;">
    <p>Full Name: <span id="display-full-name"></span></p>
    <p>Business: <span id="display-business"></span></p>
    <button id="edit-details">Edit Details</button>
  </div>
  <form id="user-details-form">
    <div>
      <label for="full-name">Full Name:</label>
      <input type="text" id="full-name" name="full-name" required>
    </div>
    <div>
      <label for="business">Business:</label>
      <input type="text" id="business" name="business" required>
    </div>
    <script type="module" src="{% static 'js/userDetails.js' %}"></script>
    <button type="submit">Save Details</button>
  </form>
</section>