/*
 * Your custom CSS goes here but before adding a lot of CSS check this out:
 *   https://tailwindcss.com/docs/extracting-components
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input {
  border: 1px solid #ccc;
}

.certificates-and-fees {
  display: flex;
  flex-wrap: wrap;
}

#list-certificates,
#list-fees {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.item {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  list-style-type: none;
}
.fee input[type="checkbox"] {
  appearance: none;
  width: 36px;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fee input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background-color: white;
  transition: transform 0.3s;
}

.fee input[type="checkbox"]:checked {
  background-color: #4cd964;
}

.fee input[type="checkbox"]:checked::before {
  transform: translateX(16px);
}

.certificate input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.certificate input[type="checkbox"]:checked::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #4cd964;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
