{% extends "layouts/index.html" %}
{% load static %}

{% block body %}
  <h1>Order Building & Property Certificates</h1>
  <p>Working with businesses around the nation</p>

  <hr>

  <section id="find-parcel">
    {% include "components/find_parcel.html" with form=form %}
  </section>

  <section id="select-certificates">
    <!-- Content for selecting certificates -->
    {% include "pages/select_certificates.html" with certificates=certificates %}
  </section>

  <section id="your-details">
    <!-- Form for user details -->
     {% include "pages/your_details.html" %}
  </section>

  <section id="finalise-payment"">
    <!-- Payment form -->
    {% include "pages/finalise_payment.html" %}
  </section>

{% endblock %}
