{% extends "layouts/index.html" %}
{% load static %}

{% block body %}
  <h1>Order Building & Property Certificates</h1>
  <p>Working with businesses around the nation</p>

  <hr>

  <section id="find-parcel">
    {% include "components/find_parcel.html" with form=form_find_parcel %}
  </section>

  <!-- Content for selecting certificates -->
  {% include "components/order_form.html" with certificates=certificates form=form_create_order_session %}

{% endblock %}

{% block extra_js %}
  <script type="module" src="{% static 'js/api.js' %}"></script>
  <script type="module" src="{% static 'js/stateManager.js' %}"></script>
  <script type="module" src="{% static 'js/parcelFinder.js' %}"></script>
  <script type="module" src="{% static 'js/orderForm.js' %}"></script>
{% endblock %}
