{% extends "../layouts/index.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Order{% endblock %}

{% block body %}
  {{ order_debug }}
  <h1>Building & Property Certificate Request</h1>
  <h2>Order Number {{ order.id }}</h2>
  <section>
    {{ order.customer_company_name|default:"" }}
    {{ order.customer_address_street_line_2|default:"" }}
    {{ order.customer_address_suburb|default:"" }}
    {{ order.customer_address_state|default:"" }}
    {{ order.customer_address_post_code|default:"" }}
    {{ order.customer_email|default:"" }}
  </section>
  <section>
    <ul>
      <li>
        <strong>Ordered</strong> {{ order.created_at|date:"jS F Y" }}
      </li>
      {% if order.fulfilled_at %}
        <li>
          <strong>Delivered</strong> {{ order.fulfilled_at|date:"jS F Y" }}
        </li>
      {% endif %}
    </ul>
  </section>
  <br/>
  <section>
    <h2>Assessment {{ order.property.assessment }}</h2>
  </section>
  <br/>
  {% for line in order_lines %}
    <section>
      <ul>
        <li>{{ line.certificate.name }}</li>
        {% if line.fulfilled_at %}
          <li>
            Delivered on {{ line.fulfilled_at|date:"jS F Y" }}
          </li>
        {% endif %}
        <li>
          {% if line.is_fulfilled %}
            Fulfilled
          {% else %}
            Pending
          {% endif %}
        </li>
        {% if line.certificate_file %}
          <li>
            <a href="{{ line.certificate_file.url }}">
              {{ line.certificate_file.name|filename }}
              {{ line.certificate_file.size|filesize_kb|floatformat:2 }} MB
            </a>
          </li>
        {% endif %}
      </ul>
    </section>
    <br/>
  {% endfor %}
{% endblock %}
