{% extends "../layouts/index.html" %}
{% load static %}

{% block title %}Order{% endblock %}

{% block body %}
  <h1>Building & Property Certificate Request</h1>
  <h2>Order Number {{ order.id }}</h2>
  <section>
    {{ order.customer_company_name|default:"" }}
    {{ order.customer_address_street_line_2|default:"" }}
    {{ order.customer_address_suburb|default:"" }}
    {{ order.customer_address_state|default:"" }}
    {{ order.customer_address_post_code|default:"" }}
    {{ order.customer_email|default:"" }}
  </section>
  <section>
    <ul>
      <li><strong>Ordered</strong> {{ order.created_at|date:"jS F Y" }}</li>
    </ul>
  </section>
  <section>
    <h2>Assessment {{ order.property.assessment }}</h2>
  </section>
  {% for certificate in order.lines.all %}
    <section>
      {{ certificate.name }}
      {% if certificate.is_fulfilled %}
        Fulfilled
      {% else %}
        Pending
      {% endif %}
    </section>
  {% endfor %}
{% endblock %}
