{% extends "layouts/index.html" %}
{% load static %}

{% block body %}
  <div class="logo-summary">
    <h1>Order Building & Property Certificates</h1>
    <p>Working with businesses around the nation</p>
  </div>
  <div class="order-create">
    {% include "components/order_find_parcel.html" with form=form_find_parcel %}
    {% include "components/order_form.html" with certificates=certificates form=form_create_order_session %}
  </div>
{% endblock %}

{% block extra_js %}
  <script type="module" src="{% static 'js/app.js' %}"></script>
{% endblock %}
