{% load static custom_filters %}

<section id="select-certificates">
  <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
  <h2>2. Select certificates</h2>
  {% csrf_token %}
  <div class="certificates-and-fees">
    <ul id="list-certificates">
      {% for certificate in certificates %}
        <li>
          <div class="item certificate">
            <input
              type="checkbox"
              name="certificate_{{ forloop.counter }}"
              value="{{ certificate.id }}"
              data-price="{{ certificate.price }}"
            />
            <label for="cert-{{ certificate.id }}">
              {{ certificate.name }} {{ certificate.price|money }}<br/>
            </label>
            <small>
              {% if certificate.description %} {{ certificate.description }}
              {% else %} No description available {% endif %}
            </small>
            {% if certificate.fees.exists %}
              <ul id="list-fees">
                {% for fee in certificate.fees.all %}
                  <li>
                    <div class="item fee">
                      <input
                        type="checkbox"
                        name="fee_{{ forloop.counter }}"
                        value="{{ fee.id }}"
                        data-price="{{ fee.price }}"
                        data-certificate="{{ certificate.id }}"
                      />
                      {{ fee.name }} {{ fee.price|money }}<br/>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
